

<h1>{{titre}}</h1>
<p>{{description}}</p>

<p class="message_envoye">{{description2}}</p>


<form action="/contact/add" method="POST">

<br>Nom:<br><input type="text" name="nom">
<br>Prenom:<br><input type="text" name="prenom">
<br>Adresse courriel:<br><input type="email" name="courriel">
<br>Numéro de téléphone:<br><input type="tel" name="tel">
<br>Sujet de la demande:<br>

<select name="sujet" id="pet-select">
    <option value="">--Chiosissez votre choix--</option>
    <option value="Inscription">Inscription</option>
    <option value="Demande de formation">Demande de formation</option>
</select>
<br>Demande<br><textarea name="demande" cols="30" rows="10"></textarea>
<br><input type="submit" value="Soumission">
</form>