<h1>{{titre}}</h1>
<p>{{description}}</p>
{{# each Articles}}
<hr>
<h2>Titre : <a href="/blog/{{this.id}}">{{this.titre}}</a></h2>
<h3>Auteur : {{this.auteur}}</h3>
<div>Description : {{this.desc}}<a href="/blog/{{this.id}}">Lire la suite ...</a></div>
{{/each}}