
<hr>
<h1>Bienvenue sur la page de la desciption de l'article</h1>
<h2>Titre : {{blog_article.titre}}</h2>
<h3>Auteur : {{blog_article.auteur}}</h3>
<div>Description : {{blog_article.desc}}</div>
<br>
<a href="../blog">Retour à la page Blog</a>
