<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
        <ul>
          <li><a href="/">Acceuil</a></li>
          <li><a href="/formations">Nos formations</a>
          <ul>
            <li><a href="/formations/formations_type/formations_mongoDB">Formations Mango DB</a></li>
            <li><a href="/formations/formations_type/formations_nodejs">Formations Node.js</a></li>
          </ul></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact/add">Nous contacter</a></li>
      </ul> 
    </nav>
    {{{body}}}
  </body>
</html>
