body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.message_envoye{
  color: green;
  font-size: 36px;
  font-weight: 500;
  padding: 10px;
}