<h1>{{titre}}</h1>
<p>{{description}}</p>

{{# each formations}}
<hr>

<a href="/formations/formations_type/formations_nodejs/{{this.type}}">
<h2>{{this.id}}</h2>
<h2>{{this.nom}}</h2>
<h3>{{this.description}}</h3>
<div>{{this.type}}</div>
</a>
{{/each}}