<h1>{{titre}}</h1>
<p>{{description}}</p>


Ici les détails de la formation que vous avez choisi


<hr>
<div>Type : {{formation_detail.type}}</div>
<h2>Titre : {{formation_detail.nom}}</h2>
<h3>Description : {{formation_detail.description}}</h3>
<div>Coût : {{formation_detail.cout}},00$</div>
<br><br>
<a href="/formations">Retour à la liste des formations</a>