<h1>{{titre}}</h1>
<p>{{description}}</p>

    <h2><a href="/formations/formations_type/formations_mongoDB">Découvrez nos formations de type Mongo DB</a></h2>
    <h2><a href="/formations/formations_type/formations_nodejs">Découvrez nos formations de type Node.js</a></h2>
    <span style="color: red;">je n'arrive pas à afficher les formations avec le paramètre type pour ces deux liens</span>



<h1>Sommaire de toutes les formations</h1>

<br><hr>

{{#each formations}}
    <div>Type : {{this.type}}</div>
    <h2>{{this.nom}}</h2>
    <div>Description : {{this.description}}</div>
    <div>Coût : {{this.cout}},00$</div>
    <a href="/formations/{{this.id}}">Voir plus de détails</a>
    <hr>
{{/each}}
